/OOP_Lab4/nbproject/private/
/OOP_Lab4/build/
/OOP_Lab4/dist/
/OOP_Lap5/nbproject/private/
/OOP_Lap5/build/
/OOP_Lap5/dist/
/OOP_Lab6/nbproject/private/
/OOP_Lab6/build/
/OOP_Lab6/dist/
/OOP_Lab7/nbproject/private/
/OOP_Lab7/build/
/OOP_Lab7/dist/
/OOP_Quiz1/nbproject/private/
/OOP_Quiz1/build/
/OOP_Lab8/nbproject/private/
/OOP_Lab8/build/
/OOP_Lab8/dist/
